@charset "utf-8";
/* This is the default style sheet for the 'footer.htm' frame */	

body {
	font-family: verdana, arial, helvetica, sans-serif;
	color: #000;
	background-color: #fff;
	font-size: 80%;
	margin: 0;
	padding: 5px 15px;
}

p {
	font-size: 90%;
	margin: 10px 5px;
}

.nav {
	float: left;
}

.copyright {
	text-align: right;
}

#item_title {
	margin-left: 8px;
}

